.edit .controller.ds4 {
    background: url(https://the-color-cyan.github.io/skins/base-custom.png);
}

.controller.edit {
    background: url(https://the-color-cyan.github.io/skins/base-custom.png);
}


.edit .face .ds4 {
    background: url(https://the-color-cyan.github.io/skins/dpad-custom.png);
}

.edit .face {
    position: absolute;
    background: url(https://the-color-cyan.github.io/skins/dpad-custom.png);
}


.edit .stick .ds4 {
    background: url(https://the-color-cyan.github.io/skins/sticks-custom.png);
}

.edit .stick {
    position: absolute;
    background: url(https://the-color-cyan.github.io/skins/sticks-custom.png);
}


.edit .button .ds4 {
    background: url(https://the-color-cyan.github.io/skins/face-custom.png);
}
/*
.edit .button {
    background: url(https://the-color-cyan.github.io/skins/face-custom.png);
}
*/

.edit .bumper .ds4 {
    background: url(https://the-color-cyan.github.io/skins/bumper-custom.png);
}

.edit .bumper {
    background: url(https://the-color-cyan.github.io/skins/bumper-custom.png);
}


.edit .disconnected .ds4 {
    background: url(https://the-color-cyan.github.io/skins/disconnected-custom.png);
}

.edit .disconnected {
    background: url(https://the-color-cyan.github.io/skins/disconnected-custom.png);
}


.edit .back .ds4, .start .ds4 {
    background: url(https://the-color-cyan.github.io/skins/start-custom.png);
}

.edit .back, .start {
    background: url(https://the-color-cyan.github.io/skins/start-custom.png);
}


.edit .trigger .ds4 {
    background: url(https://the-color-cyan.github.io/skins/triggers-custom.png);
}

.edit .trigger {
    background: url(https://the-color-cyan.github.io/skins/triggers-custom.png);
}

.edit .touchpad.pressed .ds4 {
    background: url(https://the-color-cyan.github.io/skins/touchpad-custom.png);
}

.edit .touchpad.pressed {
    background: url(https://the-color-cyan.github.io/skins/touchpad-custom.png);
}
